*~
#*
bare-metal/scripts/CMakeCache.txt
bare-metal/scripts/CMakeFiles/
bare-metal/scripts/Makefile
bare-metal/scripts/cmake_install.cmake
bare-metal/scripts/kernel.img
bare-metal/scripts/tube-client
bare-metal/scripts/tube-client.cbp
bbc_basic_1_23/tmp/
bbc_basic_1_35/tmp/

# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
../../not_in_git/
not_in_git/

#FordP exclude Eclipse related stuff for now
Debug/
.settings/
.cproject
.project
ConsoleApplication1/
i186/

*.d
*.map
*.suo
*.sln
*.sdf
*.opensdf
stdafx.*
ReadMe.txt
targetver.h
*.vcx*
*.opendb
